.cutout-text-container {
    background-image: url(images/Karoo\ desert.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aliceblue;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cutout-text {
    font-size: 1em;
    color: white;
    text-align: center;
        padding: 100px 200px 50px;
        line-height: 1.5em;
    } 
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .image-container {
        position: relative;
    }

    .image-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.2s;
    }

    .image-container:hover img {
        transform: scale(1.5);
    }

    .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px;
        font-size: 12px;
        text-align: center;
    }